{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}

<section id="hero-1618">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">"For we are his workmanship, created in Christ Jesus for good works, which God prepared beforehand, that we should walk in them."</h1>
            <h1 class="cs-subtitle">Ephesians 2:10</h1>
            <div style="padding: 20px;"></div>
            <a href="" class="cs-button-solid">Support us!</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/check-circle.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">100% Success Rate</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/speedometer.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Expert Legal Services</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Highly Recommend</h3>
                <p class="cs-item-text">
                    We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/home_cover.jpg') }}">
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/home_cover.jpg') }}">
        <img decoding="async" src="{{ url_for('static', filename='images/home_cover.jpg') }}" alt="meeting" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>                  

{% endblock %}                                